@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
	src: url('../../../static/fonts/Inter-roman-latin.var.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: swap;
	font-style: italic;
	font-named-instance: 'Italic';
	font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
	src: url('../../../static/fonts/Inter-italic-latin.var.woff2') format('woff2');
}
